<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">音訊</h5>
                    <button type="button" class="btn btn-primary">TEST</button>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('parts/scripts') %>
<script>
    

</script>
<%- include('parts/html-foot') %>