<style>
    .navbar-nav .nav-item .active{
        background-color: #afa;
        border-radius: 10px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">NodeJs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link <%= pageName==='json-sales' ? 'active' : '' %>" href="/json-sales">業務列表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= pageName ==='address-book-list' ? 'active' : '' %>" href="/address-book/list">通訊錄</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= pageName ==='address-book-add' ? 'active' : '' %>" href="/address-book/add">新增通訊錄資料</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <!-- action設定搜尋欄位的套用路徑 -->
        <form class="d-flex" action="/address-book/list"> 
            <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="<%= keyword %>">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>